.dashboard {
  position: absolute;
  display: grid;
  height: 650px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  top: 66.4px;
}
.dashboard .animeLeft {
  margin: 0 auto;
  height: 520px;
  margin-top: 20px;
}
.container-dashboard {
  background-color: #e01b48;
  border-radius: 20px;
  margin: 0 auto;
}
.introducao-dashboard {
  color: white;
  background-color: black;
  display: block;
  content: '';
  background: url('../../../assets/edit-4.jpg') no-repeat center;
  background-size: cover;
  height: 220px;
}
.introducao-dashboard h1 {
  text-align: center;
  padding-top: 70px;
  color: white;
  text-transform: uppercase;
}
.introducao-dashboard h1:after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: #e01b48;
  margin: 14px auto 10px auto;
}
.quebra-dashboard {
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  margin-bottom: -20px;
  color: black;
  text-transform: uppercase;
}
.quebra-dashboard:after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #e01b48;
  margin: 14px auto 10px auto;
}
.posicao-botao {
  display: flex;
  padding-top: -20px;
}
.dashboard button {
  background-color: black;
  margin-bottom: 20px;
}
.dashboard button:hover,
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px black, 0 0 0 4px black;
}
.dashboard input {
  width: 80%;
}
